.App {
  text-align: center;
}

.app-button {
 margin-bottom: 20px;
 float: left;
  position: fixed; 
  height: 2rem; 
  top: 0; 
  left: 0; 
  z-index: 5;
   
}


.points-all {
  margin-top: -40px;
}

.first-img {
  margin-left: 40px;
}